.main__element {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__required {
  color: #7a958c;
}
.contactform__container {
  display: flex;
  flex-direction: column;
  width: 32%;
  gap: 1rem;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 6px;
  box-shadow: rgba(111, 155, 133, 0.186) 0px 8px 24px;
}
.contactform__headline {
  color: #324544;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
}
.contactform__name {
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
}
.contactform__firstname,
.contactform__lastname {
  display: flex;
  flex-direction: column;
  width: 48.5%;
  gap: 0.6rem;
}
.contactform__email {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.contactform__query {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.contactform__querybox {
  display: flex;
  gap: 0.6rem;
  justify-content: space-around;
}
.contactform__queryfirst,
.contactform__querysecond {
  display: flex;
  border: 1px solid;
  gap: 10px;
  padding: 0.6rem 0.8rem;
  border-radius: 4px;
  border: 1px solid #d0d5d4;
  width: 48%;
  cursor: pointer;
}
.contactform__message {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.contactform__confirm {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  cursor: pointer;
}
.contactform__confirminput {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
input[type="checkbox"] {
  border-radius: none;
  accent-color: #128570 !important;
}
input[type="radio"] {
  accent-color: #0c7d69;
}
label,
legend {
  font-size: 0.8rem;
  color: #3c4941;
}
.form__input {
  border-radius: 4px;
  border: 1px solid #d0d5d4;
  padding: 0.5rem 0.8rem;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  color: #073129;
}
.form__input:focus,
textarea:focus {
  border: 1px solid #648c84;
}
textarea {
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  border: 1px solid #d0d5d4;
  font-family: inherit;
  resize: none;
  outline: none;
  color: #073129;
}
button[type="submit"] {
  font-family: inherit;
  background-color: #0c7d69;
  color: #ffffffe9;
  border-radius: 4px;
  padding: 0.6rem;
  border: none;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #118e77;
}
.error__message {
  color: #d7767c;
  font-size: 0.8rem;
}
.error__input {
  border: 1px solid #d7767c;
  border-radius: 4px;
  padding: 0.5rem 0.8rem;
  outline: none;
  cursor: pointer;
  font-family: inherit;
}
@media screen and (max-width: 756px) {
  .contactform__container {
    width: 92%;
  }
  .contactform__name {
    flex-direction: column;
  }
  .contactform__firstname,
  .contactform__lastname {
    width: 100%;
  }
  .contactform__querybox {
    flex-direction: column;
    gap: 0.8rem;
  }
  .contactform__queryfirst,
  .contactform__querysecond {
    width: 100%;
  }
  .contactform__confirminput label {
    width: 75%;
  }
}
